In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [2]:
#Read in data
url = 'https://raw.githubusercontent.com/washingtonpost/data-2C-beyond-the-limit-usa/main/data/processed/climdiv_county_year.csv'
df = pd.read_csv(url)

#Check dimensions of data
print(df.shape)
print(df.shape[0]/125)

(388375, 4)
3107.0

In [3]:
#Take a look at the data
df.head(3)

   fips  year       temp      tempc
0  1001  1895  62.633333  17.018519
1  1001  1896  65.341667  18.523148
2  1001  1897  65.150000  18.416667

In [4]:
county_counts = pd.DataFrame(df['fips'].value_counts()).reset_index()
county_counts.head(3)

   index  fips
0   1001   125
1  39157   125
2  39113   125

In [5]:
cc = county_counts[county_counts['fips']!=125]
cc.shape

(0, 2)